<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ProgressBarBgPS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,45}</string>
                <key>spriteSourceSize</key>
                <string>{450,45}</string>
                <key>textureRect</key>
                <string>{{325,2},{450,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ProgressNowBgPS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,45}</string>
                <key>spriteSourceSize</key>
                <string>{450,45}</string>
                <key>textureRect</key>
                <string>{{325,50},{450,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengSijia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{725,98},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chooseDatePS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,164}</string>
                <key>spriteSourceSize</key>
                <string>{161,164}</string>
                <key>textureRect</key>
                <string>{{2,2},{161,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circuleNoFillPS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{166,2},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaoZirui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{725,149},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lockPS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,76}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{2,169},{58,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mutePS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{150,169},{82,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renHuawei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{628,200},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>undergrdMarketPS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{94,56}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{628,98},{94,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unlockPS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,82}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{235,161},{58,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unmutePS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{63,169},{84,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>waveNoEdgePS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,150}</string>
                <key>textureRect</key>
                <string>{{325,98},{300,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>iconPack2.png</string>
            <key>size</key>
            <string>{777,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2646beda3ea0e39ba90850cbb0e71945:d66cefd22a210b0684de504f5b03e49c:e78c556b285b970700def036568e2e73$</string>
            <key>textureFileName</key>
            <string>iconPack2.png</string>
        </dict>
    </dict>
</plist>
