<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{1807,1},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{1807,1},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{1807,1},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{1807,1},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{1807,1},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{1807,1},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>foodWelfare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{900,337}</string>
                <key>spriteSourceSize</key>
                <string>{900,339}</string>
                <key>textureRect</key>
                <string>{{1,1},{900,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldWelfare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{900,337}</string>
                <key>spriteSourceSize</key>
                <string>{900,339}</string>
                <key>textureRect</key>
                <string>{{904,1},{900,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>marketIntro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{900,337}</string>
                <key>spriteSourceSize</key>
                <string>{900,357}</string>
                <key>textureRect</key>
                <string>{{1,341},{900,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>priceIntro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,336}</string>
                <key>spriteSourceSize</key>
                <string>{900,336}</string>
                <key>textureRect</key>
                <string>{{904,341},{900,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>iconPack3.png</string>
            <key>size</key>
            <string>{1810,679}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b3c58509d85b261f56b2b05e89d2b13:e078c454cdc9f96508d1c77f20c89818:bc25be8a8b2e23cb94b06a5785421dc5$</string>
            <key>textureFileName</key>
            <string>iconPack3.png</string>
        </dict>
    </dict>
</plist>
