<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mainViewPS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1386}</string>
                <key>spriteSourceSize</key>
                <string>{640,1386}</string>
                <key>textureRect</key>
                <string>{{2,2},{640,1386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>switchViewPS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1386}</string>
                <key>spriteSourceSize</key>
                <string>{640,1386}</string>
                <key>textureRect</key>
                <string>{{645,2},{640,1386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>viewPack.png</string>
            <key>size</key>
            <string>{1287,1390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63642efd3ade352d42a1d0919a500d31:467c08ad420cf70ae9744d330015a6ac:8b13bb07651f1ac21bf5fd615e120328$</string>
            <key>textureFileName</key>
            <string>viewPack.png</string>
        </dict>
    </dict>
</plist>
